:root {
    --gunmetal: #092327;
    --darkSlateGray: #0b5351;
    --lightSeaGreen: #00a9a5;
}

/* == Universal Style and Classes == */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    background-color: var(--darkSlateGray);
    padding-top: 2%;
    height: 100vh;
    width: 100vw;
    font-size: 1.5rem;

    overflow-x: hidden;
}

.btn {
    padding: 5px 30px;
    border-radius: 5px;
    background-color: var(--lightSeaGreen);
    cursor: pointer;
    font-weight: 700;
    float: right;
    clear: right;
    outline: 3px solid var(--gunmetal);
    border: none;
    margin: 7px;

    transition: background-color 0.3s, color 0.3s, scale(1.3) 0.3s;
}

.btn:hover {
    background-color: var(--gunmetal);
    color: white;
    transform: scale(1.1, 1.2);
}

.strikethrough {
    text-decoration: line-through;
    text-decoration-thickness: 0.1rem;
    opacity: 0.5;
}

.list-button {
    width: 20%;
    max-height: 30px;
}

.edit-list-button {
    width: 20%;
}

/* == Animations == */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0px);
    }
}

/* == NewTodoForm == */
.new-item-form {
    display: flex;
    flex-flow: column;

    animation-name: fadeIn;
    animation-duration: 1s;
}

.form-row {
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
    width: clamp(100px, 80%, 1500px);
    justify-content: center;
}

#itemLable {
    font-size: 2rem;
}

#item {
    position: relative;
    padding: 10px;
    margin-left: 10px;
    width: clamp(100px, 50%, 500px);
    text-align: center;
    background-color: var(--lightSeaGreen);
    border-radius: 5px;
}

#addTodoButton {
    padding: 10px 0;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 2rem;
    box-shadow: 10px 5px 20px var(--gunmetal);

    transition: color 0.3s;
}

#addTodoButton:hover {
    color: white;
}

/* == Header == */
.header {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    animation-name: fadeIn;
    animation-duration: 1s;
}

/* == Todo List == */
.list {
    margin: 0 auto;
    width: 60%;
    list-style: none;
}

/* == Todo Item == */
li {
    padding: 15px 0;
    word-wrap: break-word;
    border-bottom: 2px dashed var(--lightSeaGreen);
    display: flex;
    animation-name: fadeIn, slideInLeft;
    animation-duration: 2s, 1s;
}

.itemLabel {
    display: inline-block;
    width: 60%;
    cursor: pointer;
}

.itemLabel span {
    font-weight: 700;

    transition: scale() 1s;
}

.itemLabel:hover {
    opacity: 0.6;

    transform: scale(1.2);
}

.itemLabel input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--lightSeaGreen);
    outline: 1px solid var(--gunmetal);
}

.itemLabel input[type="checkbox"]:checked {
    margin-right: 10px;
    background-color: var(--gunmetal);
    outline: 1px solid var(--lightSeaGreen);
}

/* Edit Item */
#editForm {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#editText {
    width: 60%;
    background-color: var(--lightSeaGreen);
    border: none;
    border-radius: 5px;
}

/* == Media Queries == */
@media screen and (max-width: 900px) {
    .form-row {
        width: 100%;
        flex-flow: column;
    }

    #itemLable {
        align-self: center;
    }

    #item {
        width: 100%;
    }

    .list {
        width: 90%;
    }

    li {
        padding: 20px;
        flex-direction: column;
    }

    .itemLabel {
        width: 100%;
    }

    .list-button {
        width: 100%;
    }
}
